/* modif.css */

/* Global styles */
body {
  font-family: Arial, sans-serif;
  background-color: #f1f1f1;
  margin: 0;
  padding: 0;
  
}


header {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffcc00;
  padding: 20px;
  margin-bottom: 20px;
  
}
h1 {
  margin: 15;
  color: #4c8af5;
  text-align: center
  
  
}

hr {
  border: none;
  border-top: 1px solid #ccc;
  margin: 10px auto;
}

main {
  max-width: 800px;
  margin: 0 auto;
  background-color: #ffffff;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}

th,
td {
  padding: 10px;
  text-align: left;
  border-bottom: 1px solid #ccc;
}

th {
  background-color: #4c8af5;
  color: #ffffff;
  font-weight: bold;
}

tbody tr:nth-child(odd) {
  background-color: #f9f9f9;
}

tbody tr:hover {
  background-color: #e5f2ff;
}

tbody td:nth-child(1) {
  color: #ff3333;
}

tbody td:nth-child(2) {
  color: #33cc33;
}

tbody td:nth-child(3) {
  color: #ff9933;
}

tbody td:nth-child(4) {
  color: #6633cc;
}

tbody td:nth-child(5) {
  color: #ff66cc;
}

tbody td:nth-child(6) {
  color: #cc66ff;
}

tbody td:nth-child(7) {
  color: #0099cc;
}

tbody td:nth-child(8) {
  color: #ff6699;
}
